* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
.wrapper {
  height: 100%;
}
.wrapper {
  display: flex;
}
.sidebar {
  background: #f3f5f6;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.sidebar-logo {
  flex: 1;
}
.sidebar-logo__image {
  width: 100%;
  height: 100%;
}
.logo-image {
  width: 100%;
  object-fit: cover;
}

.sidebar__menu {
  flex: 3;
}
menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
h6 {
  font-size: 20px;
}
a {
  text-decoration: none;
  color: #8c939d;
}
.menu__text {
  color: #343537;
  font-size: 15px;
  padding-left: 5px;
}

.inbox {
  background: grey;
  width: 150px;
}
.chat {
  background: lightgray;
  width: calc(100% - 300px);
}
.panel {
  background: lightblue;
  width: 50px;
}
h5 {
  color: #aaacb5;
  text-transform: uppercase;
}
.sidebar__projects {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.border-gray {
  border: 1px solid #e7e7ef;
  background: #e7e7ef;
  color: #9b9faa;
  border-radius: 35%;
  display: inline-flex;
  width: 25px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
}
.projects__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}

button {
  border-radius: 40%;
  width: 25px;
  display: inline-flex;
  aspect-ratio: 1;
}
.button-red {
  border-color: #ea6541;
}
.button-blue {
  border-color: #4789eb;
  margin-right: -5px;
}
.button-lilac {
  border-color: #5528d9;
}
.button-green {
  border-color: #84bda1;
}
.project-menu__text {
  font-size: 13px;
  position: fixed;
  left: 55px;
}
.button-show {
  border: 1px solid #e7e8ef;
  border-radius: 15%;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
